{%- if control_ha is sameas true and ansible_host == control_host %}
cluster-init: true
{% endif %}
disable:
  - local-storage
  - servicelb
disable-cloud-controller: true
node-taint: CriticalAddonsOnly=true:NoExecute
{% if control_ha is sameas true and ansible_host != control_host and control_host_token != "" -%}
server: https://{{ control_host }}:6443
token: {{ control_host_token }}
{% endif %}
